{% load static %}
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet" async>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'dramasia/css/bootstrap-reboot.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/bootstrap-grid.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/owl.carousel.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/jquery.mCustomScrollbar.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/nouislider.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/ionicons.min.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/plyr.css' %}">
	<link rel="stylesheet" href="{% static 'dramasia/css/photoswipe.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/default-skin.css' %}" async>
	<link rel="stylesheet" href="{% static 'dramasia/css/main.css' %}" async>