{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block css %}
            {% include 'dramasia/__includes/css.html' %}
    {% endblock css %}

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'dramasia/img/Ico Doramasia.jpg' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'dramasia/img/Ico Doramasia.jpg' %}">

    {% block title %}
    {% endblock title %}

	{% block meta_description %}
	{% endblock meta_description %}

    {% block meta_additional %}
	{% endblock meta_additional %}

	{% block meta_keyword %}
	{% endblock meta_keyword %}
<!--	<meta name="author" content="dramAsia">-->

	{% block extra_css %}
    {% endblock extra_css %}

</head>
<body class="body">
	{% block navbar %}
            {% include 'dramasia/__includes/navbar.html' %}
    {% endblock navbar %}


	{% block content %}
	{% endblock content %}

    {% block footer %}
            {% include 'dramasia/__includes/footer.html' %}
    {% endblock footer %}

    {% block js %}
            {% include 'dramasia/__includes/js.html' %}
    {% endblock js %}

    {% block extra_js %}

    {% endblock extra_js %}


</body>

</html>