{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block css %}
            {% include 'dramasia/__includes/css.html' %}
    {% endblock css %}

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'dramasia/icon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'dramasia/icon/favicon-32x32.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'dramasia/icon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'dramasia/icon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'dramasia/icon/apple-touch-icon-144x144.png' %}">

	{% block meta_description %}
	{% endblock meta_description %}

	{% block meta_keyword %}
	{% endblock meta_keyword %}
<!--	<meta name="author" content="dramAsia">-->

	{% block extra_css %}
    {% endblock extra_css %}

</head>
<body class="body">
	{% block navbar %}
            {% include 'dramasia/__includes/navbar.html' %}
    {% endblock navbar %}


	{% block content %}
	{% endblock content %}

    {% block footer %}
            {% include 'dramasia/__includes/footer.html' %}
    {% endblock footer %}

    {% block js %}
            {% include 'dramasia/__includes/js.html' %}
    {% endblock js %}

    {% block extra_js %}

    {% endblock extra_js %}


</body>

</html>