{% extends "dramasia/index.html" %}
{% load static %}

{% block meta_description %}
	<meta name="description" content="">
{% endblock meta_description %}

{% block meta_keyword %}
	<meta name="keywords" content="">
{% endblock meta_keyword %}

{% block title %}
	<title>dramAsia</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="sign section--bg" data-bg="{% static 'dramasia/img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="#" class="sign__form">
							<a href="{% url 'home' %}" class="sign__logo">
								<img src="{% static 'dramasia/img/logo.svg' %}" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Name">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
							</div>
							
							<button class="sign__btn" type="button">Daftar</button>

							<span class="sign__text">Sudah Memiliki Akun? <a href="{% url 'register' %}">Masuk !</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
