{% extends "dramasia/index.html" %}
{% load static %}
{% load imagefit %}

{% block meta_description %}
	<meta name="description" content="">
{% endblock meta_description %}

{% block meta_keyword %}
	<meta name="keywords" content="">
{% endblock meta_keyword %}

{% block title %}
	<title>dramAsia</title>
{% endblock title %}

{% block extra_css %}
	<style>
		.title-dramasia {
			background: -webkit-linear-gradient(#c40886, #fc65d7);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	</style>
{% endblock extra_css %}

{% block content %}
	<!-- page title -->
	<section class="section section--first section--bg" data-bg="{% static 'dramasia/img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Movies & Series List</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="{% url 'home' %}">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Movies & Series list</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- filter -->
	<div class="filter">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="filter__content">
						<div class="filter__items">
							<!-- filter item -->
							<div class="filter__item" id="filter__genre">
								<span class="filter__item-label">GENRE:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input id="genre" type="button" value="Semua">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
									{% for g in genres %}
									<li>{{g.genre}}</li>
									{% endfor %}
								</ul>
							</div>

							<!-- filter item -->
							<div class="filter__item" id="filter__country">
								<span class="filter__item-label">NEGARA:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input id="negara" type="button" value="Semua">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
									{% for c in countries %}
									<li>{{c.country}}</li>
									{% endfor %}
								</ul>
							</div>

<!--							<div class="filter__item" id="filter__search">-->
<!--								<span class="filter__item-label">Cari:</span>-->

<!--								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--									<input type="text" placeholder="Keywords">-->
<!--									<span></span>-->
<!--								</div>-->
<!--							</div>-->
							<!-- end filter item -->


							<!-- end filter item -->
						</div>
						
						<!-- filter btn -->
						<button id="btn-apply-filter" class="filter__btn" type="button">apply filter</button>
						<!-- end filter btn -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter -->

	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 style="color:#ffffff;">{{second_head}}</h2>
					<hr>
				</div>
				<!-- card -->
				{% for m in movies %}
				<div class="col-6 col-sm-12 col-lg-6">
					<div class="card card--list">
						<div class="row">
							<div class="col-12 col-sm-4">
								<div class="card__cover">
										{% if m.image %}
										<img src="{{ m.image.url|resize:'346x557' }}" alt="{{m.title}}" height="250">
										{% else %}
										<img src="{% static 'dramasia/img/no-image/curtains.jpg' %}" alt="{{m.title}}">
										{% endif %}
										<a href="{% url 'get_movie' m.slug %}" class="card__play">
										<img src="{% static 'dramasia/img/Ico Doramasia.jpg' %}" alt="logo doramasia" style="height:40px; width:40px; border-radius:100px;">
										</a>
								</div>
							</div>

							<div class="col-12 col-sm-8">
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'get_movie' m.slug %}">{{ m.title|truncatechars:28 }}</a></h3>
									<span class="card__category">
										<a href="#">{{ m.country}}</a>
									</span>

									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{ m.mdl_score }}</span>

										<ul class="card__list">
											<li>{{ m.rating }}</li>
										</ul>
									</div>

									<div class="card__description">
										<p>{{ m.description|striptags|safe|truncatechars:277 }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- end card -->

				<!-- paginator -->
				<div class="col-12">
					<ul class="paginator" style="width:100%;">
						{% if movies.has_previous %}
						<li class="paginator__item paginator__item--prev">
							<a href="?page={{ movies.previous_page_number }}"><i class="icon ion-ios-arrow-back"></i></a>
						</li>
						{% endif %}

						{% for page in movies.paginator.page_range %}
						<li {% if page != movies.number %} class="paginator__item" {% else %}
						class="paginator__item paginator__item--active" {% endif %}>
							<a href="?page={{page}}">{{ page }}</a></li>
						{% endfor %}

						{% if movies.has_next %}
						<li class="paginator__item paginator__item--next">
							<a href="?page={{ movies.next_page_number }}"><i class="icon ion-ios-arrow-forward"></i></a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!-- end paginator -->
			</div>
		</div>
	</div>
	<!-- end catalog -->
{% endblock content %}



{% block extra_js %}
<script>
	$(document).ready(() => {
		$('#btn-apply-filter').click(() => {
			location.href = '?genre=' + $('#genre').val() + '&country=' + $('#negara').val();
		});
	})
</script>
{% endblock extra_js %}