{% extends "dramasia/index.html" %}
{% load static %}

{% block meta_description %}
	<meta name="description" content="{{ movie.description|striptags|safe|truncatewords:20 }}">
	<meta property="og:title" content="{{ movie.title|safe }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="doramAsia" />
    <meta property="og:image" content="{{ request.get_host }}{{ movie.image.url }}">
    <meta property="og:description" content="{{ movie.description|striptags|safe|truncatewords:20 }}">
{% endblock meta_description %}

{% block meta_keyword %}
	<meta name="keywords" content="">
{% endblock meta_keyword %}

{% block title %}
	<title>{{ movie.title|safe }}</title>
{% endblock title %}

{% block extra_css %}
	<style>
		.title-dramasia {
			background: -webkit-linear-gradient(#c40886, #fc65d7);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	</style>
{% endblock extra_css %}

{% block content %}

	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="{% static 'dramasia/img/home/home__bg.jpg' %}"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">{{ movie.title }}</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img src="{{ movie.image.url }}" alt="{{ movie.title }}">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{ movie.mdl_score }}</span>

										<ul class="card__list">
											<li>{{ movie.get_type_display }}</li>
											<li>{{ movie.rating }}</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li class="price__item"><span>Genre:</span>
											<a href="#">-</a>
											<a href="#">-</a>
										</li>
										<li class="price__item"><span>Judul Asli:</span> {{ movie.native_title }}</li>
										<li class="price__item"><span>Tahun Rilis:</span> {% if movie.airing_date  == False %} {{movie.airing_date}} {% else %} - {% endif %}</li>
										<li class="price__item"><span>Durasi:</span> {{ movie.duration }}</li>
										<li class="price__item"><span>Negara:</span> <a href="#">{{ movie.country }}</a> </li>
									</ul>

								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<div class="col-12 col-xl-6">
					<h3 style="color:#fff">Deskripsi</h3>
					<div class="card__description--details" style="color:rgba(255,255,255,0.7)">
						{{ movie.description|safe }}
					</div>
				</div>

				<div class="col-12" style="top:15px">
					<!-- share -->
					<div class="details__share">
						<span class="details__share-title">Share with friends:</span>

						<ul class="details__share-list">
									<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
									<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
									<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
									<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
								</ul>
					</div>
					<!-- end share -->
				</div>

				<div class="col-12">
					<div class="details__wrap">
						<div class="price price--premium">
							<div class="price__item price__item--first"><span>Pemeran</span></div>
							<div class="row">
									{% for c in cast %}
										<!-- feature -->
										<div class="col-12 col-md-4 col-lg-4">
											<div class="feature">
												<img class="feature__icon" src="{{ c.cast.image.url }}" style="width:75px;">
												<div style="margin-left:20px">
													<h3 class="feature__title" style="float:-25px;">{{ c.cast.name }}</h3>
													<p class="feature__text">{{ c.role }}</p>
													<p class="feature__text">Sebagai: {{ c.cast_as }}</p>
												</div>
											</div>
										</div>
										<!-- end feature -->
									{% endfor %}
							</div>
							<a href="#" class="price__btn">Lihat Lebih</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Discover</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Review</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Review</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- reviews -->
								<div class="col-12">
									<div id="disqus_thread"></div>
									<script>

									/**
									*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
									*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
									/*
									var disqus_config = function () {
									this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
									this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
									};
									*/
									(function() { // DON'T EDIT BELOW THIS LINE
									var d = document, s = d.createElement('script');
									s.src = 'https://doramasia-id.disqus.com/embed.js';
									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
									})();
									</script>
									<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
								</div>
								<!-- end reviews -->
							</div>
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar">Movie Terbaru</h2>
						</div>
						<!-- end section title -->

						{% for m in movies %}
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									{% if m.image_url %}
										<img src="{{ m.image.url }}" alt="{{m.title}}">
										{% else %}
										<img src="{% static 'dramasia/img/no-image/curtains.jpg' %}" alt="{{m.title}}">
									{% endif %}

									<a href="{% url 'get_movie' m.slug %}" class="card__play">
										<img src="{% static 'dramasia/img/Ico Doramasia.jpg' %}" alt="logo doramasia" style="height:40px; width:40px; border-radius:100px;">
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'get_movie' m.slug %}">{{ m.title }}</a></h3>
									<span class="card__category">
										<a href="#">{{ m.country}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{ m.mdl_score }}</span>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</section>
	<!-- end content -->

{% endblock content %}

{% block extra_js %}
	<script id="dsq-count-scr" src="//doramasia-id.disqus.com/count.js" async></script>
	<script>
		$(document).ready(() => {

			$('#rate-val').val($('#form__slider-value').text())

			var myElement = document.getElementById('form__slider-value');
			if(window.addEventListener) {
			   // Normal browsers
			   myElement.addEventListener('DOMSubtreeModified', contentChanged, false);
			} else
			   if(window.attachEvent) {
				  // IE
				  myElement.attachEvent('DOMSubtreeModified', contentChanged);
			   }

			function contentChanged() {
			   // this function will run each time the content of the DIV changes
			   $('#rate-val').val($('#form__slider-value').text())
			}



		})
	</script>
{% endblock extra_js %}