{% extends "dramasia/index.html" %}
{% load static %}

{% block meta_description %}
	<meta name="description" content="{{ article.content|striptags|safe|truncatewords:20 }}">
{% endblock meta_description %}

{% block meta_keyword %}
	<meta name="keywords" content="{{article.title|safe}}">
{% endblock meta_keyword %}

{% block title %}
	<title>{{article.title|safe}}</title>
{% endblock title %}

{% block extra_css %}
	<style>
		.title-dramasia {
			background: -webkit-linear-gradient(#c40886, #fc65d7);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.content-article img {
		max-width:100%;
		}
	</style>
{% endblock extra_css %}

{% block content %}
	<!-- page title -->
	<section class="section section--first section--bg" data-bg="" style="background-color:black; background:url({{article.image.url}}) no-repeat; background-position:center; background-size:cover; min-height:300px;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h1 class="section__title" style="padding:10px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); background: rgba(0,0,0,0.5);"><b>{{article.title}}</b></h1>
						<!-- end section title -->
					</div>
					<p style="padding:10px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); color:white; background: rgba(0,0,0,0.5);"><b><a href="{% url 'home' %}" style="color:white;">doramAsia</a> - ARTIKEL</b></p>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- filter -->

	<!-- end filter -->

	<!-- catalog -->
	<div class="catalog" style="background:#fff;">
		<br>
		<div class="container">
			<div class="row">
				<!-- card -->
				<div class="col-12 col-sm-12 col-lg-12" style="padding:20px; border-bottom:1px solid gray;">
					doramAsia - {{article.updated|date:"d M F, H:m"}}<br>
				</div>
				<div class="col-12 col-sm-12 col-lg-12">
					<div class="card card--list content-article"><br>
                        {{article.content|safe}}
					</div>
					<div class="card card--list"><br>
                        <div id="disqus_thread"></div>
						<script>

						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						/*
						var disqus_config = function () {
						this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://doramasia-id.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
				</div>
				<!-- end card -->


			</div>
		</div>
	</div>
	<!-- end catalog -->
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}